{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}

{{#post}}

<main class="gh-main">
    <article class="gh-article {{post_class}}">

        {{#match @page.show_title_and_feature_image}}
            <header class="gh-article-header gh-canvas">
                <h1 class="gh-article-title is-title">{{title}}</h1>
                {{#if custom_excerpt}}
                    <p class="gh-article-excerpt is-body">{{custom_excerpt}}</p>
                {{/if}}
                {{> "feature-image"}}
            </header>
        {{/match}}

        <section class="gh-content gh-canvas is-body">
            {{content}}
        </section>

        <section class="gh-content gh-canvas is-body">
            <div class="l-wrapper" data-animate="fade-up">
            <div class="l-tags-container">
                {{#get 'tags' limit='all' include='count.posts'}}
                {{#foreach tags}}
                    <span style="font-size: calc({{ count.posts }}em/14 + 0.7em);">
                        <a class="gh-article-tag" href="{{url}}" title="{{plural count.posts empty=(t "Nothing") singular=(t "Just 1 post") plural=(t "All % posts")}} on {{name}}">{{slug}}</a> 
                    </span>
                    {{else}}
                    <p class="m-not-found">
                        {{t "No tags found :("}}
                    </p>
                {{/foreach}}
                {{/get}}
            </div>
            </div>
        </section>

    </article>
</main>

{{/post}}